<%
var powerup = D.powerup || {};
var data = powerup.data || {};
var game_values = D.game_values || {};
var xp_level = game_values.xp_level.number || 0;
var locked = data.required_level && data.required_level > 1 && xp_level < data.required_level;
%>
<div class="Powerup provided<%= (locked) ? ' locked' : '' %>" data-subpop-id="Provided<%= powerup.gestalt %>" data-gestalt="<%= powerup.gestalt %>">

  <div class="PowerupPerp">
    <% 
      if (xp_level === data.required_level) { 
        print('<div class="new">' + _._('New!') + '</div>');
      }
    %>
    <div class="PowerupBackground"><% print(_.RenderSprite(data.slot_background, 'normal')); %></div>
    <div class="PowerupSprite"><% print(_.RenderSprite(data.slot_sprite)); %></div>
  </div>
  <div class="PowerupLabel"><%= data.label %></div>
  <div class="PowerupLabelData">
    
    <div class="Price"><div class="Buy Cash"></div><% print(_.toKSNum(powerup.price)); %></div>

    <%
      if (!locked) {
        print(_.renderView('values.html', { data: data, powerup:powerup })); 
      } else {
        print('<div class="Requires">' + _.sprintf(_._('Requires <div class="RequiresLevel">Level %s</div>'), data.required_level) + '</div>');
      }
    %>


  </div>
</div>
