<%
  var data = D.data || {};
  var ps = data.ProfileSet || {};
  var sprite = data.popup_sprite || {};
%>
      <div class="SubpopContainer half">
         <%
          _.each(ps.tokens_set, function(token, key){
            if (!token.locked) {
              print(_.renderView('subpop_token_upgrade.html', {
                token: token,
                key: key,
                collect_amount: data.collect_amount
              }));
            }
          });
        %>
      </div>
      <div class="Pagination half">
      <div class="PopupTokens">
        <div class="PopupPageWrap">
        <%
          var pagesize = 6;
          var pages = _.range(ps.tokens_set.length/pagesize);
          _.each(pages,function(page,k){
            var pagetokenkeys = _.range(page*pagesize,((page*pagesize)+pagesize > ps.tokens_set.length) ? ps.tokens_set.length : (page*pagesize)+pagesize);
            if (k > 0) {
              print('<div class="PopupPage hidden" data-page-id="'+page+'">');
            }
            else {
              print('<div class="PopupPage" data-page-id="'+page+'">');
            }
            _.each(pagetokenkeys, function(key) {
              var token = ps.tokens_set[key];
              print(_.renderView('token.html', {
                token: token,
                key: key
              }));
            });
            print('</div>');
          });
        %>
        </div>
      </div>
        <%
          if (pages.length > 1) {
        %>
        <div class='PopupPageArrowR'></div>
        <div class='PopupPageArrowL hidden'></div>
        <%
          }
        %>
      </div>

      <div class="PopupSummary half">
        <div class="PopupSummaryItem Profiles">
          <div class='RenderSprite Tobi'></div>
          <%= _._('Data that can be analyzed') %>
        </div>
      </div>


